html,body{
	height:100%;
	width:90%;
	font-family: Avenir,Helvetica,Arial,sans-serif;
	font-size: 14px;
	color:#2D4054;
	margin: auto;
}
table{
	height:100%;
	width:100%;
	text-align: center;
}
input,button{
	outline: none;
}
table>tbody>tr:nth-child(1){
	font-size: 12px;
}
table>tbody>tr:nth-child(2){
	font-size: 20px;
	font-weight: bold;
}
table>tbody>tr>td{
	background: #fff;
}
.color_3{
	color: #00B4CF;
}
.color_3:hover{
	color: #01896A;
	cursor: pointer;
}

#mainPage{
	display: flex;
	width: 100%;
	background: #E1E4E6;
}

.leftMenu{
	width:20%;
	margin-right: 20px;
	background: #2D4054;
	color:#fff;
	padding-top: 40px;
}
.marginSpan{
	margin-right:10px;
}
.rightContent{
	width:79%;
	padding-top: 20px;
}
.leftMenu>span{
	height: 45px;
	line-height: 45px;
	display: block;
	padding-left: 60px;
	font-size: 14px;
}
.leftMenu>span:hover{
	color:#00B4CF;
	background: #435466;
	cursor: pointer;
}
.leftMenu>div{
	margin-top:390px;
}
.leftMenu>div>span{
	font-size: 24px;
    color: #ccc;
    margin-left: 20px;
}
.leftMenu>div>div{
	 font-size: 12px;
    color: #999;
    margin-top: 10px;
    height: 16px;
    line-height: 15px;
}
.leftMenu>div>div>span:nth-child(1){
	margin-left: 10%;
}
.leftMenu>div>div:hover{
	 color: #00B4CF;
}
.leftMenu>div>div>span:nth-child(2){
	margin-left: 5%;
	width: 70%;
	overflow: hidden;;
	text-overflow: ellipsis;
	white-space: nowrap;
}
       
.activeHover{
	color:#00B4CF;
	background: #435466;
	cursor: pointer;
}
.smallFont{
	font-size: 18px;
	font-weight: bold;
	vertical-align: top;
}
.middleIcon{
	font-size: 100px;
	color: #2D4054;
	margin-left: 20%;
}
.navigation>div>input{
	border: 1px solid #E1E4E6;
	height: 30px;
	border-radius: 2px;
	width:200px;
	padding-left: 10px;
	margin-left: 50px;
}
.active{
	border-bottom: 5px solid #00B4CF;
	color: #00B4CF;
}
.searchSpan{
	position: absolute;
	margin-top: 19px;
	margin-left: -18px;
	cursor: pointer;
}
.marginBig{
	margin-left: 40%;
}
.bigFont{
	font-size:48px;
	margin-left: 20%;
	vertical-align: bottom;
	font-weight: bold;
}
.flexDiv{
	display: flex;
}
.rightContent>.flexDiv>div{
	width:33%;
	height:107px;
	color: #fff;
}
.rightContent>.flexDiv>div>table{
	height:107px;
}
.rightContent>.flexDiv>div:nth-child(1){
	background: #FF9A2A;
}
.rightContent>.flexDiv>div:nth-child(2){
	background: #7FBC39;
	margin-left:20px;
}
.rightContent>.flexDiv>div:nth-child(3){
	margin-left:20px;
}
.switchButton{
	display: inline-block;
	height: 50px;
	width: 100px;
	line-height: 50px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border-right: 1px solid #E1E4E6;
}
.navigation>div:nth-child(1){
	height: 50px;
    margin-top: 10px;
    background: #fff;
}
.navigation>div:nth-child(2){
	max-height: 81%;
    overflow-y: auto;
}
.navigation>div:nth-child(2)>div{
	padding-top: 10px;
	height:11%;
	margin-top: 10px;
	background: #fff;
}
.navigation>div:nth-child(2)>div>div:nth-child(1){
	width: 80px;
    padding-left: 20px;
    margin-right: 30px;
}
.navigation>div:nth-child(2)>div>div:nth-child(3)>button{
	width: 80px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background: #00B4CF;
    border: 1px solid #00B4CF;
    margin-top:48px;
    margin-left: 35px;
}
.navigation>div:nth-child(2)>div>div:nth-child(3)>button:hover{
	background: #01869A;
    border: 1px solid #01869A;
}
.yellowSpan{
	background: #FF9A2A !important;
}
.specialIcon{
	font-size: 18px;
}
.icon-th-list{
	margin-left: 10px;
	color: #00B4CF;
}
.tr1_Div,.tr2_Div{
	height: 35%;
    padding-top: 8px;
    font-size: 14px;
}
.tr1_Div>span:nth-child(2){
	color: #00B4CF;
	font-weight: bold;
}
.tr1_Div>span:nth-child(3){
	width: 30px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background: #7FBC39;
    text-align: center;
    margin-left:100px;
    color: #fff;
}
.tr1_Div>span:nth-child(4),.tr1_Div>span:nth-child(6){
	margin-left: 100px;
}
.tr1_Div>span:nth-child(4){
	margin-left: 200px;
}
.tr2_Div>p{
	display: inline-block;
}
.tr2_Div>span{
	width:15%;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	background: #E1E4E6;
	display: inline-block;
	text-align: center;
	margin-left: 10px;
}
.tr2_Div>span:nth-child(1){
	height: 30px;
	width:30px;
	line-height: 30px;
	background: #00B4CF;
	color:#fff;
	cursor: pointer;
}
.dialogBack{
	position: absolute;
	z-index: 1;
	background: #fff;
	width:570px;
	height:150px;
	display: none;
	box-shadow: 0 3px 5px #000;
	border: 1px solid #00B4CF;
	padding: 20px;
}
.dialogHead{
	height: 40px;
	line-height: 40px;
}
.dialogHead>span:nth-child(2){
	float:right;
	font-size: 22px;
}
.dialogBody{
	height:40px;
	padding-top:20px;
}
.dialogBody>input{
	width:95%;
	height:30px;
	border-radius: 3px;
	border: 1px solid #E1E4E6;
}
.dialogFoot{
	height: 40px;
	line-height: 40px;
	margin-top:10px;
}
.dialogFoot>button:nth-child(1){
	background: #00B4CF;
	border: 1px solid #00B4CF;
}
.dialogFoot>button:nth-child(1):hover{
	background: #01896A;
	border: 1px solid #01896A;
}
.dialogFoot>button:nth-child(2){
	margin-left: 20px;
	background: #2D4054;
	border: 1px solid #2D4054;
}
.dialogFoot>button:nth-child(2):hover{
	background: #435466;
	border: 1px solid #435466;
}
button{
	outline: none;
	height: 30px;
	width: 100px;
}




    
